
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1>Registration</h1>

      <div class="form-group">
        <label for="login" class="control-label">Login</label>
        <input id="login" class="form-control" [(ngModel)]="login"/>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">E-mail</label>
        <input id="email" class="form-control" [(ngModel)]="email"/>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input id="password" class="form-control" type="password" [(ngModel)]="password"/>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="control-label">Confirm password</label>
        <input id="confirmPassword" class="form-control" type="password" [(ngModel)]="confirmPassword"/>
      </div>
      <div class="form-group">
        <label for="terms" class="control-label">Terms</label>
        <input id="terms" type="checkbox" name="terms" class="form-control" [(ngModel)]="terms">
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)=handleRegister()>Register</button>
        <span>Already registered? <a routerLink="/login" class="navbar-link">Login here</a></span>
      </div>
    </div>
  </div>
</div>
