<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Product</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/add-product}" th:object="${product}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description" class="col-form-label">Description</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description"
                               placeholder="Description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price" class="col-form-label">Price</label>
                        <input type="text" th:field="*{price}" class="form-control" id="price" placeholder="Price">
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="currency" class="col-form-label">Currency</label>
                        <input type="text" th:field="*{currency}" class="form-control" id="currency"
                               placeholder="Currency">
                        <span th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Category</label>
                        <!-- <label for="category" class="col-form-label">Category</label>
                        <input type="text" th:field="*{category}" class="form-control" id="category" placeholder="Category">
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>-->
                        <select name="category">
                            <option th:each="categoryOpt : ${T(com.sda.traiangradinaru.webshop.model.ProductCategory).values()}"
                                    th:value="${categoryOpt}" th:text="${categoryOpt.displayValue}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Product">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>